#allprojects {
  padding: 2.5em 0;
  position: relative;
  background-image: url("/src/assets/backgrounds/background-bubbles4.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#allprojects .grid {
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}
#allprojects h1 {
  font-size: 3rem;
  text-align: center;
}
#allprojects .subtitle {
  text-align: center;
}
#allprojects .card-project {
  grid-column: span 12;
  max-width: 320px;
  position: relative;
  margin-top: 20px;
}
#allprojects .card-project img {
  max-width: 100%;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
}
#allprojects .card-project h3 {
  font-size: 1.5rem;
}
#allprojects .card-project:hover img {
  opacity: 0.3;
  cursor: pointer;
  box-shadow: 0px 0px 20px var(--primary);
}
#allprojects .card-project .card-text {
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  visibility: hidden;
  text-align: center;
  top: 50%;
  left: 50%;
}
#allprojects .card-project:hover .card-text {
  visibility: visible;
  transition-delay: 0.2s;
  cursor: pointer;
}

@media screen and (min-width: 620px) {
  #allprojects h1 {
    font-size: 3.5rem;
  }
  #allprojects .card-project {
    grid-column: span 6;
  }
}
@media screen and (min-width: 960px) {
  #allprojects h1 {
    font-size: 4rem;
  }
  #allprojects .grid {
    place-items: stretch;
  }
  #allprojects .card-project {
    grid-column: span 4;
  }
  #allprojects .card-project h3 {
    font-size: 1.25rem;
  }
  #allprojects .card-project p {
    font-size: 0.9rem;
  }
  #allprojects .card-project a.cta {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1200px) {
  #allprojects h1 {
    font-size: 6rem;
  }
  #allprojects .card-project h3 {
    font-size: 1.5rem;
  }
  #allprojects .card-project p {
    font-size: 1.125rem;
  }
  #allprojects .card-project a.cta {
    font-size: 1.125rem;
  }
}
