header {
  padding: 20px 0;
  box-shadow: 0px 2px 5px #0e58f84f;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}
header h2 {
  display: none;
  font-size: 1.5rem;
}
header nav .links {
  display: flex;
  align-items: center;
}
header nav a {
  margin: 0px 10px;
  font-weight: 300;
  padding: 10px 0;
  position: relative;
  transition: all 0.3s ease-in-out;
}
header nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--primary);
  bottom: 0%;
  left: 0;
  transition: 0.3s ease-in-out;
}
header nav a:hover::after {
  width: 50%;
}

/* Contact */
#contact {
  padding: 2.5em 0;
  text-align: center;
}

#contact .title {
  font-size: 2.25rem;
}
#contact .subtitle {
  font-size: 1.5rem;
  font-style: italic;
}

#contact a {
  font-size: 1.25rem;
}

#contact .social {
  text-align: center;
}

form {
  padding: 15px 0px;
  background: var(--primary);
  border-radius: 5px;
}

label,
textarea {
  display: block;
}

label {
  color: #fff;
  font-size: 1.125rem;
}

input,
textarea {
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  border: #333;
  outline: none;
  margin-bottom: 10px;
}

textarea {
  font-family: sans-serif;
  font-weight: lighter;
  height: 125px;
}

button {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: var(--secundary);
  background: var(--light);
  border: 1px solid var(--primary);
  margin: 5px 0;
  transition: 0.1s;
}
button:hover {
  box-shadow: 0px 0px 10px var(--light);
}

/* Footer */
footer {
  box-shadow: 0px -2px 5px #0e58f84f;
  padding: 10px 0;
  text-align: center;
}

/* Small tables styles */
@media screen and (min-width: 620px) {
  header .logo {
    display: block;
  }
  header .flex {
    justify-content: space-between;
  }
  #contact .title {
    font-size: 3rem;
  }
  #contact .subtitle {
    font-size: 1.75rem;
  }
  form {
    display: flex;
    justify-items: center;
    justify-content: space-around;
  }
  label {
    text-align: left;
    margin-bottom: 5px;
  }
  form > div + div {
    width: 275px;
  }
  textarea {
    width: 100%;
  }
}

/* Large tables & laptops styles */
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }

  form > div + div {
    width: 375px;
  }
}
/* Desktop Styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
  form > div + div {
    width: 575px;
  }
  textarea {
    height: 150px;
  }
}
