.notFound {
  padding: 8em 0;
}
.notFound-txt {
  text-align: center;
}
.notFound-txt h3 {
  font-size: 3.5rem;
}
a {
  font-weight: 900;
}
img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 620px) {
  img {
    width: 300px;
  }
  .notFound {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .notFound-txt {
    text-align: left;
  }
}

@media screen and (min-width: 960px) {
  .notFound-txt h3 {
    font-size: 5rem;
  }
  img {
    width: 450px;
  }
  .notFound {
    justify-content: space-around;
  }
}
