@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Roboto+Slab&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0%;
  margin: 0%;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4 {
  font-family: "Nunito", sans-serif;
  color: var(--primary);
  line-height: 1.2;
}
p {
  margin: 0.75em 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  place-items: center;
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  line-height: 1.6;
}
i {
  font-size: 3rem;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
}
i:hover {
  color: var(--primary);
  transform: scale(1.1);
}
a {
  color: #333;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #0e58f8;
}
.title {
  text-transform: uppercase;
}

/* Variables */
:root {
  --primary: #0e58f8;
  --secundary: #0a0b5b;
  --light: #fff;
}

@media screen and (min-width: 620px) {
  i {
    font-size: 3rem;
  }
}
@media screen and (min-width: 960px) {
  i {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  i {
    font-size: 4.5rem;
  }
}
